<div class="max-wrapper">
  <h1>Angular + Ng-Zorro-Antd</h1>
  <div>这里是 Angular + Ng-Zorro-Antd 实现的后台管理平台，开发和服务于企业级后台产品。</div>
  <div nz-row nzType="flex" nzAlign="middle" class="img-wrapper">
    <img src="https://gw.alipayobjects.com/zos/rmsportal/KDpgvguMpGfqaHPjicRK.svg" alt="ng-zorro-antd">
    <div>+</div>
    <img src="https://img.alicdn.com/tfs/TB1Z0PywTtYBeNjy1XdXXXXyVXa-186-200.svg" alt="angular">
  </div>
  <h2>特性</h2>
  <ul>
    <li>提炼自企业级中后台产品的交互语言和视觉风格。</li>
    <li>开箱即用的高质量 Angular 组件。</li>
    <li>使用 TypeScript 构建，提供完整的类型定义文件。</li>
  </ul>
  <h2>支持环境</h2>
  <div>现代浏览器和 IE11 及以上（需要 polyfills）。</div>
  <h2>支持 Angular 版本</h2>
  <div>目前支持 Angular ^7.0.0 版本。</div>
</div>
