<div nz-row>
  <div class="chart-box" nz-col [nzLg]="12" [nzMd]="24">
    <p class="chart-title">折线图</p>
    <div class="chart-wrapper" [chart]="lineChart"></div>
  </div>
  <div class="chart-box" nz-col [nzLg]="12" [nzMd]="24">
    <p class="chart-title">柱状图</p>
    <div class="chart-wrapper" [chart]="barChart"></div>
  </div>
  <div class="chart-box" nz-col [nzLg]="12" [nzMd]="24">
    <p class="chart-title">饼图</p>
    <div class="chart-wrapper" [chart]="pieChart"></div>
  </div>
  <div class="chart-box" nz-col [nzLg]="12" [nzMd]="24">
    <p class="chart-title">散点图</p>
    <div class="chart-wrapper" [chart]="pointChart"></div>
  </div>
</div>
